<h1 class="text-left" style="margin-top: 20px">{{ title }}</h1>

<form method="post" name="userForm" role="form" (submit)="onSubmit()" #userForm="ngForm" novalidate>
    <div *ngIf="errorMessage" class="alert alert-warning">{{ errorMessage }}</div>
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-row">
        <div class="col-md-4 mb-2">
            <label for="userName">User Name</label>
            <input type="text" class="form-control" name="userName" [(ngModel)]="user.userName" #userName="ngModel" required />
            <div class="text-danger" *ngIf="userName.touched && userName.invalid && userName.errors.required">User name is required!</div>
        </div>
        <div class="col-md-4 mb-2">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="user.firstName" #firstName="ngModel" required />
            <div class="text-danger" *ngIf="firstName.touched && firstName.invalid && firstName.errors.required">First name is required!</div>
        </div>
        <div class="col-md-4 mb-2">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="user.lastName" #lastName="ngModel" required />
            <div class="text-danger" *ngIf="lastName.touched && lastName.invalid && lastName.errors.required">Last name is required!</div>
        </div>
        <div class="col-md-4 mb-2">
            <label for="email">City</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel" required />
            <div class="text-danger" *ngIf="email.touched && email.invalid && email.errors.required">Email is required!</div>
        </div>
        <div class="col-md-4 mb-2">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" name="phone" [(ngModel)]="user.phone" #phone="ngModel" required />
        </div>
        <div class="col-md-4 mb-2" style="margin-top: 35px">
            <label for="isAdmin">Is Admin?</label>
            <input type="checkbox" style="margin-left: 10px" name="isAdmin" [(ngModel)]="user.isAdmin" #isAdmin="ngModel" />
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Save</button>
    <a routerLink="/User/Users" class="btn btn-light" style="margin-left: 10px">Cancel</a>
    <h3 class="text-left" style="margin-top: 20px">Orders</h3>
    <div class="row">
        <div class="table-responsive-md">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Order Date</th>
                        <th scope="col">Order Number</th>
                        <th scope="col">Total Amount</th>
                        <th scope="col"># Items</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let o of user.orders">
                        <td>{{o.orderDate | date: 'MM/dd/yyyy'}}</td>
                        <td>{{o.orderNumber}}</td>
                        <td>{{o.totalAmount | currency:"USD":"symbol"}}</td>
                        <td class="badge badge-dark text-center" style="margin-top: 10px">{{o.orderItems.length}}</td>
                        <td class="text-right"><button class="btn btn-sm btn-danger" (click)="deleteOrder(o)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
