<h1 class="text-left" style="margin-top: 20px">{{ title }}</h1>

<div class="container">
    <div *ngIf="errorMessage" class="alert alert-warning">{{ errorMessage }}</div>
    <div class="row">
        <div class="table-responsive-md">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">User Name</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Is Admin</th>
                        <th scope="col"># Orders</th>
                        <th scope="col"></th>
                        <th class="text-right"><button class="btn btn-sm btn-primary" (click)="addUser()">Add</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let u of users">
                        <td>{{u.userName}}</td>
                        <td>{{u.firstName}}</td>
                        <td>{{u.lastName}}</td>
                        <td>{{u.email}}</td>
                        <td>{{u.phoneNumber}}</td>
                        <td>{{u.isAdmin | yesnoBoolean}}</td>
                        <td class="badge badge-dark" style="margin-top: 10px">{{u.orders.length}}</td>
                        <td class="text-right"><button class="btn btn-sm btn-success" (click)="editUser(u)">Edit</button></td>
                        <td class="text-right"><button class="btn btn-sm btn-danger" (click)="deleteUser(u)" [disabled]="u.orders.length > 0">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
