<div class="container">
    <div class="row">
        <div class="table-responsive-md">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Contact</th>
                        <th scope="col">City</th>
                        <th scope="col">Country</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Fax</th>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let s of suppliers">
                        <td>{{s.companyName}}</td>
                        <td>{{s.contactName}}</td>
                        <td>{{s.city}}</td>
                        <td>{{s.country}}</td>
                        <td>{{s.phone}}</td>
                        <td>{{s.fax}}</td>
                        <td class="badge badge-primary" style="margin-top: 10px">{{s.products.length}}</td>
                        <td class="text-right"><button class="btn btn-sm btn-success">Edit</button></td>
                        <td class="text-right"><button class="btn btn-sm btn-danger" [disabled]="s.products.length > 0">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
