<h1 class="text-left" style="margin-top: 20px">{{ title }}</h1>

<div class="container">
    <div *ngIf="errorMessage" class="alert alert-warning">{{ errorMessage }}</div>
    <div class="row">
        <div class="table-responsive-md">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Contact</th>
                        <th scope="col">City</th>
                        <th scope="col">Country</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Fax</th>
                        <th scope="col"># Prod</th>
                        <th scope="col"></th>
                        <th class="text-right"><button class="btn btn-sm btn-primary" (click)="addSupplier()">Add</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let s of suppliers">
                        <td>{{s.companyName}}</td>
                        <td>{{s.contactName}}</td>
                        <td>{{s.city}}</td>
                        <td>{{s.country}}</td>
                        <td>{{s.phone}}</td>
                        <td>{{s.fax}}</td>
                        <td class="badge badge-dark text-center" style="margin-top: 10px">{{s.products.length}}</td>
                        <td class="text-right"><button class="btn btn-sm btn-success" (click)="editSupplier(s)">Edit</button></td>
                        <td class="text-right"><button class="btn btn-sm btn-danger" type="button" (click)="deleteSupplier(s)" [disabled]="s.products.length > 0">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
