<h1 class="text-left" style="margin-top: 20px">{{ title }}</h1>

<form method="post" name="orderForm" role="form" (submit)="onSubmit()" #orderForm="ngForm" novalidate>
    <div *ngIf="errorMessage" class="alert alert-warning">{{ errorMessage }}</div>
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-row">
        <div class="col-md-4 mb-2">
            <label for="orderDate">Order Date</label>
            <input type="text" class="form-control" name="orderDate" [ngModel]="order.orderDate | date: 'MM/dd/yyyy'" #orderDate="ngModel" required />
            <div class="text-danger" *ngIf="orderDate.touched && orderDate.invalid && orderDate.errors.required">Order date is required!</div>
        </div>
        <div class="col-md-4 mb-2">
            <label for="orderNumber">Order Number</label>
            <input type="text" class="form-control" name="orderNumber" [(ngModel)]="order.orderNumber" #orderNumber="ngModel" [disabled]="true" />
        </div>
        <div class="col-md-4 mb-2">
            <label for="customer">Customer</label>
            <select name="customer" class="browser-default custom-select" (change)="onCustomerChange($event)">
                <option *ngFor="let c of customers" value="{{c.id}}" [selected]="c.id === order.customer.id">{{c.firstName}} {{c.lastName}}</option>
            </select>
        </div>
        <div class="col-md-4 mb-2">
            <label for="totalAmount">Total Amount</label>
            <input type="text" class="form-control" name="totalAmount" [(ngModel)]="order.totalAmount" #totalAmount="ngModel" required />
            <div class="text-danger" *ngIf="totalAmount.touched && totalAmount.invalid && totalAmount.errors.required">Total amount is required!</div>
        </div>
        <div class="col-md-4 mb-2">
            <label for="items">All Products</label>
            <select class="browser-default custom-select" (change)="onProductChange($event)">
                <option *ngFor="let p of products" [value]="p.id" [selected]="p.id === product.id">{{p.productName}}</option>
            </select>
        </div>
        <div class="col-md-4 mb-2">
            <label for="add">Add This Product to This Order</label>
            <button type="button" class="btn btn-sm btn-primary form-control" (click)="addProduct()">Add Product</button>
        </div>
    </div>
    <br />
    <input type="submit" class="btn btn-primary" value="Save" [disabled]="orderForm.invalid" />
    <a routerLink="/Order/Orders" class="btn btn-light" style="margin-left: 10px">Cancel</a>
    <h3 class="text-left" style="margin-top: 20px">Items</h3>
    <div class="row">
        <div class="table-responsive-md">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Package</th>
                        <th scope="col" class="text-right">Price</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of order.orderItems">
                        <td>{{i.product.productName}}</td>
                        <td>{{i.product.package}}</td>
                        <td>{{i.unitPrice | currency:"USD":"symbol"}}</td>
                        <td>{{i.quantity}}</td>
                        <td class="text-right"><button class="btn btn-sm btn-danger" type="button" (click)="deleteItem(order, i)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--</div>-->
    </div>
</form>
