<h1 style="margin-top: 20px">{{ title }}</h1>

<div class="container">
    <div *ngIf="errorMessage" class="alert alert-warning">{{ errorMessage }}</div>
    <div class="row">
        <div class="table-responsive-md">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Order Date</th>
                        <th scope="col">Order Number</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Amount</th>
                        <th scope="col"># Items</th>
                        <th scope="col"></th>
                        <th class="text-right"><button class="btn btn-sm btn-primary" (click)="addOrder()">Add</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let o of orders">
                        <td>{{o.orderDate | date: 'MM/dd/yyyy'}}</td>
                        <td>{{o.orderNumber}}</td>
                        <td>{{o.customer.firstName}} {{o.customer.lastName}}</td>
                        <td>{{o.totalAmount | currency:"USD":"symbol"}}</td>
                        <td class="badge badge-dark text-center" style="margin-top: 10px">{{o.orderItems.length}}</td>
                        <td class="text-right"><button class="btn btn-sm btn-success" (click)="editOrder(o)">Edit</button></td>
                        <td class="text-right"><button class="btn btn-sm btn-danger" type="button" (click)="deleteOrder(o)" [disabled]="o.orderItems.length > 0">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
