@model ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
}

<the-store></the-store>

<h1 class="text-center" style="margin-top: 20px">@ViewBag.Title</h1>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="UserName">User Name</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentPassword">Current Password</label>
                <input asp-for="CurrentPassword" type="password" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword">New Password</label>
                <input asp-for="NewPassword" type="password" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPasswordConfirm">New Password Confirm</label>
                <input asp-for="NewPasswordConfirm" type="password" class="form-control" />
                <span asp-validation-for="NewPasswordConfirm" class="text-warning"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Reset Password" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


