<h1 class="text-left" style="margin-top: 20px">{{ title }}</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-row">
        <div class="col-md-4 mb-2">
            <label for="productName">Product Name</label>
            <input type="text" class="form-control" name="productName" [(ngModel)]="product.productName" #productName="ngModel" required />
            <div class="text-danger" *ngIf="productName.touched && productName.invalid && productName.errors.required">Product name is required!</div>
        </div>
        <div class="col-md-4 mb-2">
            <label for="companyName">Supplier Name</label>
            <input type="text" class="form-control" name="companyName" [(ngModel)]="product.supplier.companyName" #companyName="ngModel" />
        </div>
        <div class="col-md-4 mb-2">
            <label for="unitPrice">Unit Price</label>
            <input type="text" class="form-control" name="unitPrice" [(ngModel)]="product.unitPrice" #unitPrice="ngModel" />
            <div class="text-danger" *ngIf="unitPrice.touched && unitPrice.invalid && unitPrice.errors.required">Unit price is required!</div>
        </div>
        <div class="col-md-4 mb-2">
            <label for="package">Package</label>
            <input type="text" class="form-control" name="package" [(ngModel)]="product.package" #package="ngModel" required />
            <div class="text-danger" *ngIf="package.touched && package.invalid && package.errors.required">Package is required!</div>
        </div>
        <div class="col-md-4 mb-2">
            <label for="isDiscontinued">Discontinued</label>
            <input type="checkbox" class="form-control" name="isDiscontinued" [(ngModel)]="product.isDiscontinued" #isDiscontinued="ngModel" />
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Save</button>
    <a routerLink="/Product/Products" class="btn btn-light" style="margin-left: 10px">Cancel</a>
</form>
