<h1 class="text-left" style="margin-top: 20px">{{ title }}</h1>

<form method="post" name="productForm" role="form" (submit)="onSubmit()" #productForm="ngForm" novalidate>
    <div *ngIf="errorMessage" class="alert alert-warning">{{ errorMessage }}</div>
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-row">
        <div class="col-md-4 mb-2">
            <label for="productName">Product Name</label>
            <input type="text" class="form-control" name="productName" [(ngModel)]="product.productName" #productName="ngModel" required />
            <div class="text-danger" *ngIf="productName.touched && productName.invalid && productName.errors.required">Product name is required!</div>
        </div>
        <div class="col-md-4 mb-2">
            <label for="supplier">Supplier</label>
            <select name="supplier" class="browser-default custom-select" (change)="onSupplierChange($event)">
                <option *ngFor="let s of suppliers" [value]="s.id" [selected]="s.id === product.supplier.id">{{s.companyName}}</option>
            </select>
        </div>
        <div class="col-md-4 mb-2">
            <label for="unitPrice">Unit Price</label>
            <input type="text" class="form-control" name="unitPrice" [(ngModel)]="product.unitPrice" #unitPrice="ngModel" />
            <div class="text-danger" *ngIf="unitPrice.touched && unitPrice.invalid && unitPrice.errors.required">Unit price is required!</div>
        </div>
        <div class="col-md-4 mb-2">
            <label for="package">Package</label>
            <input type="text" class="form-control" name="package" [(ngModel)]="product.package" #package="ngModel" required />
            <div class="text-danger" *ngIf="package.touched && package.invalid && package.errors.required">Package is required!</div>
        </div>
        <div class="col-md-4 mb-2" style="margin-top: 35px">
            <label for="isDiscontinued">Discontinued</label>
            <input type="checkbox" style="margin-left: 10px" name="isDiscontinued" [(ngModel)]="product.isDiscontinued" #isDiscontinued="ngModel" />
        </div>
        <div class="col-md-4 mb-2">
            <label for="add">Remove Order Items Using This Product</label>
            <button type="button" class="btn btn-sm btn-primary form-control" (click)="removeItems()">Remove Items</button>
        </div>
    </div>
    <br />
    <input type="submit" class="btn btn-primary" value="Save" [disabled]="productForm.invalid" />
    <a routerLink="/Product/CmsProduct" class="btn btn-light" style="margin-left: 10px">Cancel</a>
</form>
