<h1 class="text-left" style="margin-top: 20px">{{ title }}</h1>

<div class="container">
    <div class="row">
        <div class="table-responsive-md">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">City</th>
                        <th scope="col">Country</th>
                        <th scope="col">Phone</th>
                        <th scope="col"># Orders</th>
                        <th scope="col"></th>
                        <th class="text-right"><button class="btn btn-sm btn-primary" (click)="addCustomer()">Add</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of customers">
                        <td>{{c.firstName}}</td>
                        <td>{{c.lastName}}</td>
                        <td>{{c.city}}</td>
                        <td>{{c.country}}</td>
                        <td>{{c.phone}}</td>
                        <td class="badge badge-dark text-center" style="margin-top: 10px">{{c.orders.length}}</td>
                        <td class="text-right"><button class="btn btn-sm btn-success" (click)="editCustomer(c)">Edit</button></td>
                        <td class="text-right"><button class="btn btn-sm btn-danger" [disabled]="c.orders.length > 0">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
